@import "~src/common";

.tabs-box {
  .tab {
    width: 25%;
    padding: 7.5px 0;
    color: #aab8c1;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-bottom: 1px solid rgba(170, 184, 193, 0.1);
    cursor: pointer;

    &.active {
      color: $theme;
      border-bottom: 3px solid $theme;
    }
  }
}
