<div class="markets">
  <h3 class="markets-title">{{ "markets.markets" | translate }}</h3>
  <table mat-table [dataSource]="web3.marketsData">
    <!-- 代币图标和name -->
    <ng-container matColumnDef="token">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.asset" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="token-logo-box">
          <span
            class="token-logo icon"
            [style.backgroundImage]="
              'url(assets/images/' + toLowerCase(element.token) + '.svg)'
            "
          ></span
          ><span>{{ element.name }}</span>
        </div>
      </td>
    </ng-container>
    <!--total supply-->
    <ng-container matColumnDef="totalSupply">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.totalSupply" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalSupply | number: "0.0-0" }} {{ element.token }}
      </td>
    </ng-container>
    <!--supplyAPY-->
    <ng-container matColumnDef="supplyAPY">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.supplyAPY" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.supplyAPY }}
      </td>
    </ng-container>
    <!--total borrow-->
    <ng-container matColumnDef="totalBorrow">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.totalBorrow" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalBorrow | number: "0.0-0" }} {{ element.token }}
      </td>
    </ng-container>
    <!--borrowAPY-->
    <ng-container matColumnDef="borrowAPY">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.borrowAPY" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.borrowAPY }}
      </td>
    </ng-container>
    <!--wallet-->
    <ng-container matColumnDef="wallet">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.wallet" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.wallet }} {{ element.token }}
      </td>
    </ng-container>
    <!--liquidity-->
    <ng-container matColumnDef="liquidity">
      <th mat-header-cell *matHeaderCellDef>
        {{ "markets.liquidity" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.liquidity }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="transaction(row)"
    ></tr>
  </table>
</div>
