@import "~src/common";

.markets {
  width: 1160px;
  margin: -56px auto 150px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(16 21 24 / 5%);

  &-title {
    margin-bottom: 0;
    padding: 15px 26px;
    color: #141e27;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .mat-table {
    width: 100%;

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      box-sizing: border-box;
      border-left: 2px solid transparent;
    }

    .mat-header-row {
      height: 46px;

      th {
        color: #aab8c1;
        font-size: 12px;
      }
    }

    .mat-row {
      height: 72px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.01);

        td.mat-cell:first-of-type {
          border-left-color: $theme;
        }
      }
    }

    .token-logo-box {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .token-logo {
      width: 34px;
      height: 34px;
      margin-right: 15px;
    }
  }
}
