@import "~src/common";

::ng-deep {
  .mat-dialog-container {
    padding: 0;
  }
}

.connect-wallet-dialog {
  position: relative;
  width: 410px;
  padding: 38px 10px 20px;

  .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .mat-dialog-content {
    .connect-wallet {
      flex-direction: column;

      .logo-icon {
        width: 78px;
        height: 78px;
        background-image: url("~src/assets/images/compound-connect.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-radius: 100px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 7%);
      }

      &-title {
        margin: 16px 0 4px;
        color: #141e2a;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
      }

      &-start {
        margin: 0;
        color: #657786;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
      }
    }

    .wallets {
      margin: 18px 0;

      .metamask {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 380px;
        height: 100px;
        margin: auto;
        padding: 22px 38px;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;

        &-icon {
          display: inline-block;
          flex-shrink: 0;
          width: 35px;
          height: 35px;
          background-image: url("~src/assets/images/metamask.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        &-title {
          margin-left: 20px;
          color: #141e27;
          font-size: 16px;
        }

        &:hover {
          box-shadow: 0 0 24px rgb(0 0 0 / 8%);
        }
      }
    }

    .accept {
      color: #aab8c1;
      font-size: 12px;
      text-align: center;

      &-link {
        color: $theme;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
