@use "~@angular/material" as mat;
$custom-typography: mat.define-typography-config(
  $font-family: "Haas Grot Text R ,sans-serif",
);

@include mat.core($custom-typography);

@import "common";
$aurolend-ui-primary: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: $theme,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);
$aurolend-ui-accent: mat.define-palette(mat.$purple-palette, a200, a100, a400);
$aurolend-ui-warn: mat.define-palette(mat.$red-palette);
$aurolend-ui-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($aurolend-ui-primary),
      accent: $aurolend-ui-accent,
      warn: $aurolend-ui-warn,
    ),
  )
);

@include mat.all-component-themes($aurolend-ui-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Haas Grot Text R", sans-serif;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.close-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  background-image: url("~src/assets/images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading {
  position: relative;
  display: flex;
  width: 88px;
  height: 88px;
  margin: 66px auto 96px;
  background-color: #00d395;
  border-radius: 50%;

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  div {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 88.63%;
    height: 88.63%;
    margin: 5px;
    border: 2px solid;
    border-color: #fff transparent transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}
