@import "~src/common";
$gray: #657786;

.borrow-overview {
  box-sizing: border-box;
  width: 900px;
  margin: auto;
  padding-top: 20px;
  overflow: hidden;
  color: #fff;

  .supply-balance {
    width: 300px;
    font-weight: 500;
    text-align: center;

    &-name {
      color: $theme;
      font-size: 12px;
    }

    &-num {
      margin-top: 20px;
      font-size: 24px;
    }
  }

  .net-apy {
    &-total {
      flex-direction: column;
      box-sizing: border-box;
      width: 135px;
      height: 135px;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      background-color: $network-tip-bg;
      border: 3.5px solid $theme;
      border-radius: 50%;

      &-text {
        margin-bottom: 10px;
        color: $gray;
        font-size: 12px;
      }
    }

    &-hover {
      @extend .net-apy-total;

      font-weight: 500;
      font-size: 12px;
      background-color: $network-mainnet-tip-bg;
    }
  }

  .borrow-balance {
    @extend .supply-balance;

    &-name {
      @extend .supply-balance-name;

      color: #9669ed;
    }

    &-num {
      @extend .supply-balance-num;
    }
  }

  .borrow-limit {
    margin-top: 50px;
    margin-bottom: 107px;
    color: #657786;
    font-weight: 600;
    font-size: 12px;

    &-name {
      display: inline-block;
      width: 85px;
      padding-right: 10px;
    }

    &-percent {
      position: relative;
      width: 725px;

      &-num {
        position: absolute;
        top: -12px;
        z-index: 1;
        padding: 4px;
        color: #fff;
        background: $network-tip-bg;
      }

      ::ng-deep .mat-progress-bar {
        width: 760px;
        height: 3px;

        &-buffer {
          background: #1f242a;
        }

        &.orange {
          .mat-progress-bar-fill::after {
            background: #ffd24a;
          }
        }

        &.red {
          .mat-progress-bar-fill::after {
            background: #f35454;
          }
        }
      }
    }

    &-num {
      display: inline-block;
      width: 85px;
      text-align: right;
    }
  }
}
